<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Action</string>
		<key>movies</key>
		<array>
			<string>Centennial Collection</string>
			<string>After You&apos;ve Gone</string>
			<string>Sing Sing Sing</string>
			<string>Complete Capitol Trios</string>
			<string>Essential Benny Goodman</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Romance</string>
		<key>movies</key>
		<array>
			<string>Like A Prayer</string>
			<string>Hard Candy</string>
			<string>Like A Virgin</string>
			<string>True Blue</string>
			<string>Madonna</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Sci-fi</string>
		<key>movies</key>
		<array>
			<string>The Rising</string>
			<string>Born to Run</string>
			<string>The Promise</string>
			<string>Born in the USA</string>
			<string>Darkness on the Edge of Town</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Horror</string>
		<key>movies</key>
		<array>
			<string>Blood Sweat &amp; Tears</string>
			<string>Ride This Train</string>
			<string>Unchained</string>
			<string>American Recordings</string>
			<string>The Legend of Johnny Cash</string>
		</array>
	</dict>
</array>
</plist>
